//
// Development .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.debug.xcconfig"

// Server URL
HOST_NAME = 127.0.0.1:6060
// Use TLS (https, wss)
USE_TLS = NO

// App Settings
APP_NAME = Tinode (test)

// Versioning. The values are automatically updated by a build script.
GIT_TAG = 1.24.3
GIT_COMMIT_COUNT = 1834
